.App {
  text-align: center;
}

.footer {
  display: flex;
  align-items: flex-end;
  background: #292b2f;
  padding: 2rem;
}
.text {
  color: #ffffff;
  font-size: 16px;
}

.org {
  font-size: 32px;
  font-weight: bold;
}
.site_name {
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}
